.css-dip3t8 {
  background-color: #ffd400 !important;
}

#admin-sidebar {
  background-color: #ffd400;
  height: 100vh;

  li {
    li {
      background-color: #ffd400;
    }
  }

  li.ps-active {
    & > a {
      font-weight: bold;
    }
  }

}